<launch>

    <param name="/entrance_finished" value="true" type="bool"/>
    
    <include file="$(find map_generate)/launch/import_world.launch"/>
    <include file="$(find model20)/launch/gazebo2.launch">
        <arg name="x_pos" default="3.5"/>
        <arg name="y_pos" default="0.5"/>
        <arg name="z_pos" default="0.8"/>
        <arg name="roll" default="0"/>
        <arg name="pitch" default="0"/>
        <arg name="yaw" default="3.1415926535"/>
    </include>
    <include file="$(find junny_control)/launch/model20_control.launch"/>

    <node pkg='data_integrate' type='data_integration_node' name='data_integration_node' output='screen'/>

    <node pkg='field_detection' type='ball_detect_node' name='ball_detect_node' output='log'/>
    <node pkg='field_detection' type='ball_detect_top_node' name='ball_detect_top_node' output='log'/>
    <node pkg='field_detection' type='dead_reckoning_node' name='dead_reckoning_node' output='log'/>

</launch>